<span
  class="absolute pointer-events-none -top-30 -left-30 blur-3xl bg-indigo-500 dark:bg-indigo-900 dark:opacity-0 rounded-full w-[20rem] h-[20rem] opacity-50"
></span>

<div
  class="hidden lg:flex flex-col gap-2 py-2 pl-2 overflow-auto overflow-x-hidden scroll-hidden h-full"
>
  <aside
    class="z-30 w-auto border border-zinc-200 dark:border-zinc-900 hidden rounded-xl lg:flex flex-col justify-center bg-white/50 dark:bg-zinc-950/70 backdrop-blur-sm"
  >
    <div class="relative flex flex-col gap-2">
      <span
        [ngStyle]="indicatorStyle"
        class="absolute left-0 w-1 bg-indigo-500 rounded-r-full duration-300 ease-in-out"
      ></span>

      <button
        #tabElement
        *ngFor="let tab of tabs"
        [attr.data-active]="tab.id === activeTabId"
        (click)="selectTab(tab)"
        class="relative flex flex-col mx-auto items-center justify-center w-20 h-20 rounded-lg text-gray-500 dark:text-gray-400 hover:text-indigo-500 dark:hover:text-indigo-400 transition-colors duration-200 data-[active=true]:text-indigo-500 dark:data-[active=true]:text-indigo-400"
      >
        <span [ngClass]="tab.id === activeTabId ? 'material-icons' : 'material-icons-outlined'" class="text-3xl transition-all">{{ tab.icon }}</span>
        <span class="text-xs font-medium mt-1">{{ tab.label }}</span>
      </button>
    </div>
  </aside>

  <aside
    class="z-30 w-auto border border-zinc-200 dark:border-zinc-900 hidden rounded-xl lg:flex flex-col justify-center bg-white/50 dark:bg-zinc-950/70 backdrop-blur-sm"
  >
    <div class="relative flex flex-col py-3 gap-2">
      <button
        class="relative flex flex-col mx-auto py-2 px-1 rounded-full items-center justify-center text-gray-500 dark:text-gray-400 hover:text-indigo-500 dark:hover:text-indigo-400 transition-colors duration-200 data-[active=true]:text-indigo-500 dark:data-[active=true]:text-indigo-400"
      >
        <i class="material-icons-outlined">settings</i>
        <span class="text-xs font-medium mt-1">config.</span>
      </button>
      <button
        class="relative flex flex-col mx-auto items-center py-2 px-1 rounded-full justify-center text-gray-500 dark:text-gray-400 hover:text-rose-500 dark:hover:text-rose-400 transition-colors duration-200 data-[active=true]:text-indigo-500 dark:data-[active=true]:text-indigo-400"
      >
        <i class="material-icons-outlined">logout</i>
        <span class="text-xs font-medium mt-1">Sair</span>
      </button>
    </div>
  </aside>
</div>
