<!-- @if (isSidebarOpen()) {
  <div (click)="toggleSidebar()" class="fixed pointer-events-none inset-0 z-20 bg-black/0 md:hidden"></div>
} -->

<section
  class="flex flex-col overflow-hidden md:rounded-3xl border border-zinc-200/80 not-md:h-screen h-full md:max-h-[50rem] bg-white dark:border-zinc-800 dark:bg-zinc-900"
>
  <header
    class="flex flex-shrink-0 items-center justify-between border-b border-zinc-200/80 p-4 dark:border-zinc-800"
  >
    <button
      (click)="toggleSidebar()"
      class="rounded-full p-2 text-zinc-500 transition-colors hover:bg-zinc-100 dark:text-zinc-400 dark:hover:bg-zinc-800 md:hidden"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h2 class="text-lg font-semibold text-zinc-800 dark:text-zinc-100">Buscar Agendamentos</h2>
    <button
      (click)="close()"
      class="rounded-full p-2 text-zinc-500 transition-colors hover:bg-zinc-100 dark:text-zinc-400 dark:hover:bg-zinc-800"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <main class="relative flex flex-1 overflow-hidden md:flex-row" [style.perspective.px]="1000">
    <aside
      class="absolute left-0 top-0 z-30 max-h-full flex overflow-auto w-72 flex-shrink-0 flex-col border-b border-zinc-200/80 bg-white dark:border-zinc-800 dark:bg-zinc-900 md:static md:w-1/3 md:border-b-0 md:border-r md:bg-transparent dark:md:bg-transparent transition-transform duration-300 ease-in-out -translate-x-full md:translate-x-0"
      [class.translate-x-0]="isSidebarOpen()"
    >
      <div class="relative px-3 mt-2">
        <input
          type="text"
          placeholder="Buscar por cliente ou serviço..."
          [formControl]="searchControl"
          class="w-full rounded-lg border border-zinc-300 bg-white dark:bg-zinc-900 shadow py-2 pl-10 pr-4 text-zinc-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:border-zinc-700 dark:text-zinc-100"
        />
        <i
          class="material-icons-outlined px-2 pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 !h-5 !w-5 text-zinc-400"
        >
          search
        </i>
      </div>

      <nav class="space-y-4 h-auto overflow-auto px-3 -mt-2 pt-3">
        <div class="space-y-1">
          @for (filter of quickAccessFilters(); track filter.label) {
            <button (click)="selectFilter(filter)" [ngClass]="getFilterClasses(filter)">
              <mat-icon class="!text-lg">{{ filter.icon }}</mat-icon>
              <span>{{ filter.label }}</span>
            </button>
          }
        </div>

        <div class="space-y-1">
          <h4 class="px-3 text-xs font-semibold uppercase text-zinc-400">Períodos</h4>
          @for (filter of periodFilters(); track filter.label) {
            <button (click)="selectFilter(filter)" [ngClass]="getFilterClasses(filter)">
              <mat-icon class="!text-lg">{{ filter.icon }}</mat-icon>
              <span>{{ filter.label }}</span>
            </button>
          }
        </div>

        <div class="space-y-1">
          <h4 class="px-3 text-xs font-semibold uppercase text-zinc-400">Meses Anteriores</h4>
          @for (month of previousMonthFilters(); track month.label) {
            <button (click)="selectFilter(month)" [ngClass]="getFilterClasses(month)">
              <mat-icon class="!text-lg">{{ month.icon }}</mat-icon>
              <span>{{ month.label }}</span>
            </button>
          }
        </div>
      </nav>
    </aside>

    <div
      class="flex-1 overflow-y-auto relative p-3 shadow-lg md:shadow-none transition-all duration-500 ease-in-out origin-left-center md:origin-center transform-style-preserve-3d md:transform-none"
      [class.translate-x-70]="isSidebarOpen()"
      [class.-rotate-y-2]="isSidebarOpen()"
      [class.blur-sm]="isSidebarOpen()"
      [class.opacity-70]="isSidebarOpen()"
    >
      @if (isLoading()) {
        <div class="absolute w-full h-full left-0 top-0 grid place-items-center">
          <i class="material-symbols-outlined animate-spin">app_badging</i>
        </div>
      }

      @if (searchResults().length > 0 && !isLoading()) {
        <ul>
          @for (result of searchResults(); track result.id) {
            <li
              (click)="open(result)"
              class="cursor-pointer flex relative group items-center overflow-hidden gap-4 py-4 px-3 hover:ring-1 hover:ring-zinc-100 dark:hover:ring-zinc-800 rounded-lg transition-colors bg-gradient-to-tr from-transparent hover:to-violet-500/10"
            >
              <div class="flex relative">
                <div
                  class="flex relative h-10 w-10 items-center justify-center rounded-lg rounded-tl-sm bg-zinc-100 dark:bg-zinc-800 overflow-hidden"
                >
                  @if (result?.services?.[0]?.service?.photoUrl) {
                    <img
                      [src]="result?.services?.[0]?.service?.photoUrl"
                      class="h-full w-full object-cover"
                    />
                  } @else {
                    <i class="material-symbols-outlined text-zinc-500">person</i>
                  }
                </div>

                @if (result.client) {
                  <div
                    class="absolute bottom-0 right-0 bg-zinc-100 dark:bg-zinc-800 grid place-items-center ring-2 translate-1 w-4 h-4 ring-white dark:ring-zinc-900 rounded-full"
                  >
                    @if (result?.client?.avatarUrl) {
                      <img [src]="result?.client?.avatarUrl" class="h-full w-full object-cover" />
                    } @else {
                      <i class="material-symbols-outlined text-zinc-500 !text-xs">person</i>
                    }
                  </div>
                }
              </div>
              <div class="flex flex-1 flex-col">
                <p class="font-semibold text-zinc-800 dark:text-white">{{ result.title }}</p>
                <p class="text-sm text-zinc-500 dark:text-zinc-400">
                  {{ !!result?.client?.fullName ? result.client!.fullName + ',' : '' }}
                  {{ result.startAt | date: "EEE dd 'de' MMM" }}
                </p>
              </div>

              <div class="flex flex-1">
                <span
                  class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset"
                  [ngClass]="statusMap[result.status].classes"
                >
                  {{ statusMap[result.status].label }}
                </span>
              </div>

              <div
                class="w-0 h-0 group-hover:w-30 group-hover:h-30 translate-x-5 -translate-y-10 group-hover:opacity-50 transition-all duration-700 opacity-0 absolute right-0 bg-violet-500 blur-2xl"
              ></div>

              <a
                [routerLink]=""
                class="group-hover:w-8 group-hover:h-8 opacity-0 group-hover:opacity-100 grid place-items-center transition-all w-0 h-0 absolute right-4 bg-violet-500 rounded-full"
              >
                <ng-icon name="saxSearchNormalBold" class="opacity-80 !text-white"></ng-icon>
              </a>
            </li>
          }
        </ul>
      } @else {
        @if (!isLoading()) {
          <div class="flex h-full flex-col items-center justify-center text-center">
            <span class=""> Não encontramos nenhum agendamento! </span>
          </div>
        }
      }
    </div>
  </main>
</section>
