<section class="flex flex-col relative z-20 w-full max-w-[70rem] mx-auto">
  <home-enter></home-enter>
  
  <div class="flex px-4 pb-2 mt-7 gap-1 text-gray-600 dark:text-indigo-200 items-center">
    <i class="material-symbols-outlined !text-xl">circles</i>
    <span class="font-semibold text-gray-600 dark:text-indigo-200 saira-font">Dashboard</span>
  </div>
  <home-dashboard></home-dashboard>

  <div class="flex px-4 pb-2 mt-7 gap-1 text-gray-600 dark:text-indigo-200 items-center">
    <i class="material-symbols-outlined !text-xl">credit_card_clock</i>
    <span class="font-semibold text-gray-600 dark:text-indigo-200 saira-font">Pendentes</span>
  </div>
  <pending-payments></pending-payments>

   <div class="flex px-4 pb-2 mt-7 gap-1 text-gray-600 dark:text-indigo-200 items-center">
    <i class="material-symbols-outlined !text-xl">event</i>
    <span class="font-semibold text-gray-600 dark:text-indigo-200 saira-font">Eventos</span>
  </div>
  <home-bookings></home-bookings>
</section>
