<div class="flex gap-3 relative items-center mx-auto mb-2 overflow-hidden w-full">
  <div
    class="flex mx-auto gap-4 relative items-center scroll-hidden m-3 overflow-hidden rounded-xl border-t border-gray-300/20 shadow shadow-gray-500/10 dark:shadow-black border-l bg-white dark:bg-gray-950"
  >
    <div
      class="absolute pointer-events-none left-0 right-0 flex-1 top-0 w-full h-full bg-gradient-to-r from-gray-50 via-gray-50/50 to-gray-50 dark:from-gray-900/50 dark:via-gray-900/20 dark:to-gray-900/50 z-20 to-100%"
    ></div>

    <div
      #scrollContainer
      class="flex w-full gap-2 relative items-center scroll-hidden scroll-none p-3 overflow-auto"
    >
      @for (day of dates; track $index) {
        <div
          #dayElement
          [attr.data-now]="isNow(day)"
          [attr.data-current]="day.isSame(currentDate, 'date')"
          class="transition-all relative min-w-16 h-16 flex items-center justify-center flex-col rounded-lg cursor-pointer group hover:bg-gray-100 dark:hover:bg-gray-800 data-[current=true]:bg-indigo-600 data-[current=true]:z-30 data-[current=true]:shadow-sm data-[now=true]:border data-[now=true]:border-indigo-500"
        >
          <span
            [attr.data-current]="day.isSame(currentDate, 'date')"
            class="transition-all dark:text-gray-300 text-gray-600 text-2xl saira-font font-semibold group-hover:text-gray-900 dark:group-hover:text-gray-100 data-[current=true]:text-white"
          >
            {{ day.format('DD') }}
          </span>

          <span
            [attr.data-current]="day.isSame(currentDate, 'date')"
            class="transition-all text-gray-500 dark:text-gray-400 text-sm group-hover:text-gray-700 dark:group-hover:text-gray-300 data-[current=true]:text-indigo-100"
          >
            {{ day.format('ddd') }}
          </span>

          <div
            *ngIf="!!counts?.[day.format('YYYY-MM-DD')]"
            class="w-5 h-5 grid place-items-center rounded-full bg-white shadow dark:bg-gray-700 absolute -bottom-1 -right-1 border dark:border-gray-600"
          >
            <div class="text-xs dark:text-indigo-200 text-gray-600 saira-font font-semibold">
              {{ counts?.[day.format('YYYY-MM-DD')] ?? '0' }}
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
