<div class="flex gap-3 items-center mx-auto">
  <div class="flex mx-auto gap-4 items-center scroll-hidden m-3 px-5 overflow-auto">
    @for (day of dates; track $index) {
    <div
      #dayElement
      [attr.data-now]="isNow(day)"
      [attr.data-current]="day.isSame(currentDate, 'date')"
      class="transition-all relative min-w-20 h-20 bg-zinc-100/90 border border-white/60 backdrop-blur-sm flex items-center justify-center flex-col dark:bg-zinc-900 rounded-full data-[current=true]:bg-indigo-500 data-[now=true]:border-4 dark:border-zinc-700 data-[now=true]:border-indigo-300/50"
    >
      <span
        [attr.data-current]="day.isSame(currentDate, 'date')"
        class="transition-all dark:text-gray-300 text-gray-600 text-2xl saira-font font-semibold data-[current=true]:text-white"
      >
        {{ day.format('DD') }}
      </span>
      <span
        [attr.data-current]="day.isSame(currentDate, 'date')"
        class="transition-all text-gray-500 dark:text-zinc-400 font-sm data-[current=true]:text-white"
      >
        {{ day.format('ddd') }}
      </span>

      <div
        *ngIf="!!counts?.[day.format('YYYY-MM-DD')]"
        class="w-6 h-6 grid place-items-center rounded-full bg-white shadow dark:bg-zinc-900 data-[count=true]:dark:shadow-black absolute bottom-0 left-0"
      >
        <div [attr.data-count]="!!counts?.[day.format('YYYY-MM-DD')]" class="text-sm dark:text-zinc-600 saira-font data-[count=true]:text-gray-600 dark:data-[count=true]:text-indigo-200">
          {{counts?.[day.format("YYYY-MM-DD")] ?? "0"}}
        </div>
      </div>
    </div>
    }
  </div>
</div>
