<section class="flex flex-col p-3 gap-3">
  <header class="flex">
    <h1 class="font-semibold font-saira text-gray-500 dark:text-gray-100">
      Príximos agendamentos
    </h1>
  </header>

  <div class="flex flex-col gap-1">
    <div
      class="p-3 border border-zinc-900 text-gray-500 dark:text-white flex items-center gap-4 rounded"
    >
      <i class="material-icons-outlined text-indigo-500 w-6">bookmark</i>
      <span>Corte de cabelo</span>
    </div>
    <div
      class="p-3 border border-zinc-900 text-gray-500 dark:text-white flex items-center gap-4 rounded"
    >
      <i class="material-icons-outlined text-indigo-500 w-6">bookmark</i>
      <span>Corte de cabelo</span>
    </div>
    <div
      class="p-3 border border-zinc-900 text-gray-500 dark:text-white flex items-center gap-4 rounded"
    >
      <i class="material-icons-outlined text-indigo-500 w-6">bookmark</i>
      <span>Corte de cabelo</span>
    </div>
  </div>
</section>
