@if (booking) {
  <div class="flex flex-col gap-4 p-3 font-sans h-auto">
    <header
      class="flex gap-4 items-center flex-wrap justify-between text-gray-500 dark:text-gray-200"
    >
      <div class="flex gap-4 items-center">
        <a
          [routerLink]="['/hub', 'home']"
          class="w-10 h-10 aspect-square bg-stone-100 dark:bg-gray-800 grid place-items-center rounded-full hover:bg-stone-200 dark:hover:bg-gray-800 transition-colors"
        >
          <i class="material-icons-outlined !text-md">arrow_back_ios_new</i>
        </a>
        <h1 class="saira-font text-xl font-bold">Detalhes do Agendamento</h1>
      </div>

      <!-- AÇÃO DE PAGAMENTO: Mantido pois o cliente precisa pagar -->
      <div class="flex flex-col">
        <button
          (click)="openModalToPay()"
          type="button"
          class="flex items-center gap-3 px-5 py-3 rounded-full font-semibold text-violet-500 dark:text-violet-400 bg-violet-50 dark:bg-gray-800 border border-white/10 backdrop-blur-lg shadow-lg transition-all duration-300 ease-in-out hover:border-white/20 hover:bg-white/10 dark:hover:bg-gray-800/50 active:scale-95"
        >
          <i class="material-icons-outlined text-base">qr_code</i>
          <span>Pagar Agora</span>
        </button>
        <div
          class="flex flex-1 min-h-2 rounded-full overflow-hidden mx-2 mt-1 bg-stone-200 dark:bg-gray-700"
        >
          <span class="flex bg-violet-500 rounded-r-xl" [style.width.%]="porcetagePaid"></span>
        </div>
      </div>
    </header>

    <!-- CONTEÚDO PRINCIPAL -->
    <main class="grid grid-cols-1 lg:grid-cols-3 gap-6 p-2">
      <section class="lg:col-span-2 flex flex-col gap-6">
        <h1
          class="outline-none bg-transparent text-3xl saira-font font-semibold text-gray-800 dark:text-gray-100"
        >
          {{ booking.title }}
        </h1>

        <div class="flex flex-col gap-3">
          <h2
            class="text-sm font-semibold text-gray-400 dark:text-gray-500 uppercase tracking-wider"
          >
            Serviços
          </h2>
          <div
            class="flex flex-col gap-2 p-3 bg-white dark:bg-gray-800 rounded-lg divide-y divide-gray-100 dark:divide-gray-800"
          >
            @for (service of booking.services; track service.id) {
              <div class="flex justify-between items-center py-3 px-2">
                <p class="text-gray-700 text-lg dark:text-gray-300">{{ service.title }}</p>
                <p class="font-semibold text-gray-600 dark:text-gray-300">
                  {{ service.price | toFormatBrl }}
                </p>
              </div>
            }
          </div>
        </div>

        <div class="flex flex-col gap-3">
          <header class="flex gap-2 items-center justify-between">
            <h2
              class="text-sm font-semibold text-gray-400 dark:text-gray-500 uppercase tracking-wider"
            >
              Horário
            </h2>

            <div class="flex items-center gap-3">
              <button class="relative p-2 w-10 h-10 bg-white shadow dark:bg-gray-800 text-gray-500 dark:text-violet-50 rounded-full">
                <i class="material-icons-outlined">edit</i>
              </button>
            </div>
          </header>
          <div class="flex items-center gap-4 p-4 bg-white dark:bg-gray-800 rounded-lg">
            <i class="material-icons-outlined text-indigo-500">watch_later</i>
            <div>
              <p class="font-bold text-gray-800 dark:text-gray-100">
                {{ dayjs(booking.startAt).format('HH:mm') }} -
                {{ dayjs(booking.endAt).format('HH:mm') }}
              </p>
              <p class="text-sm text-gray-500 dark:text-gray-400">
                {{ dayjs(booking.startAt).format('dddd, D [de] MMMM') }}
              </p>
            </div>
          </div>
        </div>

        @if (bookingId) {
          <all-payments
            [bookingId]="bookingId"
            [totalPrice]="totalPrice"
            (handleTotalPaid)="updateTotalPaid($event)"
          ></all-payments>
        }
      </section>

      <aside class="lg:col-span-1">
        <div class="sticky lg:top-5 p-4 bg-white dark:bg-gray-800 rounded-lg flex flex-col gap-4">
          <h2
            class="text-sm font-semibold text-gray-400 dark:text-gray-500 uppercase tracking-wider"
          >
            Status
          </h2>
          <div class="relative flex-grow flex flex-col justify-between">
            <div>
              @for (status of getTimelineStatuses(); track status) {
                <div class="flex gap-4" [class.is-complete]="isStatusComplete(status)">
                  <div class="flex flex-col items-center w-8">
                    <div
                      class="timeline-dot grid place-items-center w-8 h-8 rounded-full"
                      [ngClass]="getStatusColor(status)"
                    >
                      <i class="material-icons-outlined text-white !text-base">
                        {{ getStatusIcon(status) }}
                      </i>
                    </div>
                    @if (!$last) {
                      <div class="w-0.5 flex-grow" [ngClass]="getLineColor(status)"></div>
                    }
                  </div>
                  <div class="pt-1" [class.pb-8]="!$last">
                    <p class="font-semibold text-gray-800 dark:text-gray-100">{{ status }}</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">Status atualizado</p>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </aside>
    </main>
  </div>
} @else {
  <!-- Tela de Carregamento -->
  <div class="grid place-items-center h-screen bg-stone-50 dark:bg-gray-950">
    <p class="text-gray-500 dark:text-gray-400 animate-pulse">
      Carregando detalhes do seu agendamento...
    </p>
  </div>
}
