<div class="flex px-3 relative items-center">
  <button
    class="hidden absolute left-0 md:grid place-items-center w-10 h-10 bg-white shadow dark:bg-zinc-800 z-20 rounded-full"
  >
    <i class="material-icons-outlined !text-3xl">chevron_left</i>
  </button>

  <button
    class="hidden absolute right-0 md:grid place-items-center w-10 h-10 bg-white shadow dark:bg-zinc-800 z-20 rounded-full"
  >
    <i class="material-icons-outlined !text-3xl">chevron_right</i>
  </button>

  <div
    class="flex gap-[1rem] relative p-3 items-center scroll-hidden w-full scroll-smooth m-auto overflow-x-auto border-r border-zinc-200 dark:border-zinc-800"
  >
    <div
      class="flex flex-[0_0_20rem] border rounded-lg p-3 h-[10rem] backdrop-blur-xl bg-white/30 dark:bg-zinc-950/80 dark:border-zinc-800 text-zinc-500 shadow-none dark:text-gray-100 border-stone-200 dark:shadow-md dark:shadow-black"
    >
      Agendamentos no mês de Agosto
    </div>
    <div
      class="flex flex-[0_0_20rem] border rounded-lg p-3 h-[10rem] backdrop-blur-xl bg-white/30 dark:bg-zinc-950/80 dark:border-zinc-800 text-zinc-500 shadow-none dark:text-gray-100 border-stone-200 dark:shadow-md dark:shadow-black"
    >
      Agendamentos Hoje
    </div>
    <div
      class="flex flex-[0_0_20rem] border rounded-lg p-3 h-[10rem] backdrop-blur-xl bg-white/30 dark:bg-zinc-950/80 dark:border-zinc-800 text-zinc-500 shadow-none dark:text-gray-100 border-stone-200 dark:shadow-md dark:shadow-black"
    >
      Agendamentos futuros
    </div>
    <div
      class="flex flex-[0_0_20rem] border rounded-lg p-3 h-[10rem] backdrop-blur-xl bg-white/30 dark:bg-zinc-950/80 dark:border-zinc-800 text-zinc-500 shadow-none dark:text-gray-100 border-stone-200 dark:shadow-md dark:shadow-black"
    >
      Receita no mês de agosto
    </div>
  </div>
</div>
