<section class="p-4 sm:p-6 lg:p-8 font-sans flex-1">
  <header class="flex items-center justify-between">
    <button
      (click)="previousDay()"
      class="p-2 w-10 h-10 rounded-full hover:bg-gray-200 dark:bg-zinc-900 dark:text-white transition-colors"
      aria-label="Dia anterior"
    >
      <span class="material-icons-outlined">chevron_left</span>
    </button>
    <h2
      class="text-xl font-bold text-center text-gray-800 dark:text-gray-100 capitalize"
    >
      {{ formattedDate }}
    </h2>
    <button
      (click)="nextDay()"
      class="p-2 w-10 h-10 rounded-full hover:bg-gray-200 dark:bg-zinc-900 dark:text-white transition-colors"
      aria-label="Próximo dia"
    >
      <span class="material-icons-outlined">chevron_right</span>
    </button>
  </header>

  <section class="flex items-center justify-between mt-4">
    <div class="flex gap-2 items-center">
      <button
        class="bg-indigo-500 text-indigo-50 active:bg-indigo-600 focus:ring-offset-2 dark:ring-offset-slate-900 rounded-lg transition-all active:scale-110 ease-in-out active:ring-2 dark:active:ring-indigo-700 p-2 px-4"
      >
        <span class="saira-font">Agendamento</span>
      </button>
    </div>
  </section>

  <section class="sm:p-6 lg:p-8 font-sans mt-5">
    <div class="h-auto rounded-lg shadow-lg overflow-y-auto">
      <div
        class="grid grid-cols-[4rem_1fr] grid-rows-[repeat(1440,1px)] pt-5 min-h-full relative"
       [ngStyle]="timelineGridStyle" 
        >
        @for (hour of [].constructor(24); let i = $index; track $index) {
        <div
          (click)="onGridClick(hour)"
          class="col-start-1 col-end-3 row-start-1 flex items-center pr-2 z-0 pointer-events-none"
          [style.grid-row]="i * 60 + 1"
        >
          <span
            class="text-xs text-gray-400 dark:text-gray-500 w-10 text-right pr-2"
            >{{ i }}:00</span
          >
          <div class="flex-grow h-px bg-gray-200 dark:bg-zinc-700"></div>
        </div>
        } @for (booking of bookingsForCurrentDay; track booking.id) {
        <div
          class="booking-item mr-2 -ml-6 my-[1px] p-2 bg-indigo-100 dark:bg-indigo-900/60 border-l-4 border-indigo-500 rounded-r-lg flex flex-col justify-center z-10 cursor-pointer"
          [ngStyle]="getBookingGridStyle(booking)"
        >
          <p
            class="font-semibold text-sm text-indigo-800 dark:text-indigo-200 truncate pointer-events-none"
          >
            {{ booking.title }}
          </p>
          <p
            class="text-xs text-indigo-600 dark:text-indigo-400 pointer-events-none"
          >
            {{ dayjs(booking.startAt).format("HH:mm") }} -
            {{ dayjs(booking.endAt).format("HH:mm") }}
          </p>
        </div>
        } @empty { @if (!isLoading) {
        <div
          class="col-start-1 col-end-3 row-start-1 row-end-[-1] flex items-center justify-center z-20 pointer-events-none"
        >
          <p class="text-gray-500 dark:text-gray-400">
            Nenhum agendamento para este dia.
          </p>
        </div>
        } } @if (isToday) {
        <div
          class="col-start-1 col-end-3 row-start-1 flex items-center z-30 pointer-events-none"
          [ngStyle]="currentTimeIndicatorStyle"
        >
          <div class="w-10 text-blue-500 flex justify-end">
            <span class="material-icons-outlined text-base">chevron_right</span>
          </div>
          <div class="flex-grow h-0.5 bg-blue-500"></div>
        </div>
        } @if (isLoading) {
        <div
          class="col-start-1 col-end-3 row-start-1 row-end-[-1] flex items-center justify-center z-20 pointer-events-none"
        >
          <div
            class="w-12 h-12 border-4 border-indigo-500 border-t-transparent rounded-full animate-spin"
          ></div>
        </div>
        }
      </div>
    </div>
  </section>
</section>
