<section class="flex relative h-screen bg-gradient-to-l bg-white from-white to-indigo-50/40 dark:bg-gray-950 dark:from-gray-900/20 dark:to-gray-900/20 overflow-auto overflow-x-hidden">
  <sidebar class="h-auto flex"></sidebar>

  <section
    class="flex flex-col overflow-x-hidden relative bg-transparent flex-1 pb-[5rem] overflow-auto dark:border-gray-800"
  >
    <div class="bg-cyan-500/40 opacity-20 dark:opacity-60 z-10 absolute top-0 left-[20%] rounded-full -translate-y-[70%] blur-[40vh] w-[50vh] h-[50vh]"></div>
    <router-outlet class="z-20"></router-outlet>
  </section>

  <mobile-sidebar></mobile-sidebar>
</section>
