<section class="flex flex-col gap-2">
  <div *ngIf="step != 1" class="p-3">
    <button
      type="button"
      (click)="back()"
      class="w-12 h-12 rounded-full grid place-items-center border border-zinc-300 dark:border-zinc-800 bg-white dark:bg-zinc-900"
    >
      <i class="material-icons-outlined !text-3xl">chevron_left</i>
    </button>
  </div>

  <select-assign
    [selectedUser]="assignedTo"
    *ngIf="step === 1 && !isLoading"
    (selectAssignOutput)="selectAssigner($event)"
  ></select-assign>

  <app-select-service *ngIf="step === 2"></app-select-service>
</section>
