<section class="flex flex-col gap-2">
  <div *ngIf="step != 1" class="p-3">
    <button
      type="button"
      (click)="back()"
      class="w-12 h-12 rounded-full grid place-items-center border border-zinc-300 dark:border-zinc-800 bg-white dark:bg-zinc-900"
    >
      <i class="material-icons-outlined !text-3xl">chevron_left</i>
    </button>
  </div>

  <section class="flex mb-[10rem] gap-5 m-auto w-full max-w-[70rem] flex-col lg:flex-row">
    @switch (step) {
      @case (1) {
        <select-assign [selectedUser]="assignedTo" (selectAssignOutput)="selectAssigner($event)" />
      }

      @case (2) {
        <app-select-service
          [props]="allProps"
          class="flex w-full max-w-[50rem]"
          (changesServices)="selectServices($event)"
        ></app-select-service>
      }

      @case (3) {
        <app-select-date-time
          [props]="allProps"
          class="flex w-full max-w-[50rem]"
          (onChangeDateOutput)="selectDateTime($event)"
        >
        </app-select-date-time>
      }

      @case (4) {
        <app-confirm-booking
          class="flex-1"
          [selectedServices]="services"
          [selectedAssigner]="assignedTo"
        >
        </app-confirm-booking>
      }
    }

    <app-booking-summary
      [data]="this.allProps"
      [isValid]="this.isValid"
      (nextStep)="next()"
    ></app-booking-summary>
  </section>
</section>
