<div
  class="flex flex-col bg-white p-6 overflow-auto h-[25rem] rounded-xl dark:bg-zinc-950 border border-slate-200 dark:border-zinc-800 shadow-red-400"
>
  <header class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      <i class="material-icons-outlined text-gray-500 dark:text-gray-400 !text-xl"
        >calendar_month</i
      >
      <h2 class="text-lg text-gray-500 dark:text-gray-400">Agendamentos</h2>
    </div>

    <button
      type="button"
      (click)="close()"
      class="w-8 h-8 hover:bg-zinc-100 text-gray-500 dark:hover:bg-zinc-800 rounded-full dark:text-white grid place-items-center transition-colors"
    >
      <i class="material-icons text-xl">close</i>
    </button>
  </header>

  <main class="flex flex-1 gap-3 md:gap-10">
    <div class="flex flex-col mt-5 gap-2">
      <button
        type="button"
        (click)="nextHour()"
        class="flex items-center justify-center rounded-full w-12 h-12 bg-slate-50 dark:bg-zinc-800/60 transition-colors hover:bg-slate-100 dark:hover:bg-zinc-800"
      >
        <i class="material-symbols-outlined">arrow_upward_alt</i>
      </button>
      <button
        type="button"
        (click)="previousHour()"
        class="flex items-center justify-center rounded-full w-12 h-12 bg-slate-50 dark:bg-zinc-800/60 transition-colors hover:bg-slate-100 dark:hover:bg-zinc-800"
      >
        <i class="material-symbols-outlined">arrow_downward_alt</i>
      </button>
    </div>
    <section class="flex flex-1 flex-col gap-2">
      @if (bookings?.length) {
        <ul class="relative mt-6 space-y-4" [@listAnimation]="currentHour.hour()">
          <div class="absolute left-4.5 top-2 h-full w-0.5 bg-zinc-200 dark:bg-zinc-800"></div>
          <a
            [routerLink]="['/bookings', booking.id]"
            [attr.data-late]="isLate(booking)"
            (click)="close()"
            *ngFor="let booking of bookings; trackBy: trackByBookingId"
            class="relative pl-16 group block rounded-tl-xl rounded-lg"
          >
            <div class="absolute -left-0 top-1">
              <span
                class="flex h-9 w-9 items-center group-hover:scale-110 transition-all justify-center rounded-full bg-white dark:bg-zinc-950 ring-2 ring-offset-2 ring-offset-white dark:ring-offset-zinc-950"
                [ngClass]="{
                  'ring-green-500 dark:ring-green-400':
                    booking.status === 'COMPLETED' || booking.status === 'PAID',
                  'ring-indigo-500 dark:ring-indigo-600': booking.status === 'CONFIRMED',
                  'ring-red-500 dark:ring-red-400': booking.status === 'CANCELLED',
                  'ring-zinc-400 dark:ring-zinc-500': booking.status === 'NO_SHOW',
                }"
              >
                <i
                  *ngIf="booking.status === 'COMPLETED'"
                  class="material-icons-outlined !text-xl text-green-600 dark:text-green-300"
                  >check_circle</i
                >
                <i
                  *ngIf="booking.status === 'CANCELLED'"
                  class="material-icons-outlined !text-xl text-red-600 dark:text-red-300"
                  >cancel</i
                >
                <i
                  *ngIf="booking.status === 'NO_SHOW'"
                  class="material-icons-outlined !text-xl text-zinc-600 dark:text-zinc-300"
                  >do_not_disturb_on</i
                >

                <i
                  *ngIf="booking.status === 'CREATED'"
                  class="material-icons-outlined !text-xl text-zinc-600 dark:text-zinc-300"
                  >browse_gallery</i
                >

                <i
                  *ngIf="booking.status === 'CONFIRMED'"
                  class="material-symbols-outlined !text-xl text-indigo-600 dark:text-indigo-300"
                  >check_circle_unread</i
                >

                <i
                  *ngIf="booking.status === 'PAID'"
                  class="material-icons-outlined !text-xl text-green-600 dark:text-green-300"
                  >paid</i
                >
              </span>
            </div>

            <div class="flex-1 opacity-90 group-hover:opacity-100">
              <div class="flex items-center">
                <time class="text-sm font-medium leading-none text-zinc-600 dark:text-zinc-400">
                  {{ booking.startAt | date: 'fullDate' }}
                </time>
                <span
                  class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset ml-auto"
                  [ngClass]="statusMap[booking.status].classes"
                >
                  {{ statusMap[booking.status].label }}
                </span>
              </div>
              <h3 class="mt-2 text-lg text-zinc-700 dark:text-zinc-100">
                {{ booking.title }}
              </h3>
              <p class="mt-1 text-sm text-zinc-600 dark:text-zinc-400">
                Em
                <span class="font-medium text-zinc-700 dark:text-zinc-300">{{
                  booking.business?.name
                }}</span>
                @if (booking?.client?.fullName) {
                  com
                  <span class="font-medium text-zinc-700 dark:text-zinc-300">{{
                    booking?.client?.fullName
                  }}</span
                  >.
                }
              </p>
            </div>
          </a>
        </ul>
      } @else {
        <div
          class="flex flex-col items-center justify-center text-center p-8 text-zinc-500 dark:text-zinc-400"
        >
          <span class="material-icons-outlined text-4xl mb-2">event_busy</span>
          <p class="font-medium">Nenhum agendamento</p>
          <p class="text-sm">Não há agendamentos para esta hora.</p>
        </div>
      }
    </section>
  </main>
</div>
