<div class="flex flex-col gap-2 px-3">
  <header class="flex">
    <h1 class="font-saira text-gray-500 dark:text-gray-100">
      Ultimas atualizações
    </h1>
  </header>

  <section
    class="flex flex-col border bg-white/10 shadow-none backdrop-blur-sm border-gray-200 relative z-30 overflow-hidden dark:bg-stone-950/80 dark:border-neutral-800 dark:text-gray-200 dark:shadow-xl rounded-xl divide-y divide-gray-200 dark:divide-gray-800"
  >
    <div
      class="flex p-3 gap-2 items-center text-gray-500 active:bg-stone-100 dark:active:bg-stone-900 hover:bg-stone-100 dark:hover:bg-stone-900"
    >
      <i class="material-icons-outlined w-6 h-6 text-yellow-500"
        >check_circle_unread</i
      >
      Agendamento confirmado.
    </div>
    <div
      class="flex p-3 gap-2 items-center text-gray-500 active:bg-stone-100 dark:active:bg-stone-900 hover:bg-stone-100 dark:hover:bg-stone-900"
    >
      <i class="material-icons-outlined w-6 h-6 text-red-500">block</i>
      Cancelamento de agendamento.
    </div>
    <div
      class="flex p-3 gap-2 items-center text-gray-500 active:bg-stone-100 dark:active:bg-stone-900 hover:bg-stone-100 dark:hover:bg-stone-900"
    >
      <i class="material-icons-outlined w-6 h-6 text-emerald-500">paid</i>
      Agendamento pago
    </div>
    <div
      class="flex p-3 gap-2 items-center text-gray-500 active:bg-stone-100 dark:active:bg-stone-900 hover:bg-stone-100 dark:hover:bg-stone-900"
    >
      <i class="material-icons-outlined w-6 h-6 text-indigo-500"
        >check_circle_unread</i
      >
      Agendamento Terminado
    </div>
  </section>
</div>
