<div class="flex flex-col gap-2 px-3">
  <header class="flex">
    <h1 class="font-semibold font-saira text-gray-500 dark:text-gray-100">
      Ultimas atualizações
    </h1>
  </header>

  <section
    class="flex flex-col gap-1 border bg-white/10 dark:bg-zinc-950/80 dark:border-zinc-800 dark:text-gray-200 shadow-xl rounded-xl divide-y divide-zinc-200 dark:divide-zinc-800"
  >
    <div class="flex p-3">Corte terminado</div>
    <div class="flex p-3">Corte terminado</div>
    <div class="flex p-3">Corte terminado</div>
  </section>
</div>
