.sectionVisible {
  display: none;  
  opacity: 0;
  transform: translateY(10px); 
  transition: opacity 0.5s, transform 0.5s, display 0.5s allow-discrete;
}

.sectionVisible.visible {
  display: flex; 
  opacity: 1;
  transform: translateY(0);

  @starting-style {
    opacity: 0;
    transform: translateY(10px); 
  }
}