<div 
  class="slider-container"
  (pointerdown)="onDragStart($event)"
  (touchstart)="onDragStart($event)"
>
  <div #track class="track  pointer-events-none cursor-default">
    <div class="fill bg-gradient-to-l from-indigo-500 to-violet-600 pointer-events-none cursor-default" [style.width.%]="fillPercentage"></div>
  </div>

  <div 
    class="thumb pointer-events-none cursor-default" 
    role="slider"
    [style.left.%]="fillPercentage" 
    [attr.aria-valuenow]="value"
    [attr.aria-valuemin]="min"
    [attr.aria-valuemax]="max"
  ></div>
</div>
