// @use "tailwindcss";

:host {
  --track-height: 8px;
  --thumb-size: 1.5rem;
  --track-color: #e5e7eb; /* Cor do Tailwind: zinc-200 */
  --fill-color: #4f46e5; /* Cor do Tailwind: indigo-600 */
  --thumb-color: white/30;
  --thumb-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --thumb-focus-ring-color: #a5b4fc; /* Cor do Tailwind: indigo-300 */

  display: block;
  width: 100%;
  position: relative;
  padding: 8px 0; // Adiciona espaço vertical para o thumb não ser cortado
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; // Remove highlight no mobile
}

:host-context(.dark) {
  --track-color: #3f3f46; /* zinc-700 */

  --thumb-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); // Sombra preta um pouco mais forte
  // OU, para um efeito de "brilho":
  // --thumb-shadow: 0 0 8px rgba(255, 255, 255, 0.1);

  --thumb-focus-ring-color: #818cf8; /* indigo-400, mais brilhante */
}

.slider-container {
  position: relative;
  width: 100%;
  height: 10rem;
  height: var(--track-height);
  display: flex;
}

.slider-container::before {
  content: '';
  position: absolute;

  top: -10px; // Adiciona 10px de área clicável acima da trilha
  bottom: -10px; // Adiciona 10px de área clicável abaixo da trilha
  left: 0;
  right: 0;
}

.track,
.fill {
  position: absolute;
  height: 100%;
  border-radius: var(--track-height);
  pointer-events: none; // Evita que esses elementos capturem o clique
}

.track {
  width: 100%;
  background-color: var(--track-color);
}

.fill {
  position: absolute;
  top: 50%;
  height: 1rem;
  transform: translateY(-50%);
  @apply bg-gradient-to-l from-indigo-500 to-violet-600
}

.thumb {
  position: absolute;
  top: 50%;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--thumb-color);
  border-radius: 50%;
  box-shadow: var(--thumb-shadow);
  -webkit-backdrop-filter: blur(4px); // Para compatibilidade com Safari mais antigo
  backdrop-filter: blur(4px);
  border-left: 1px solid rgba(255, 255, 255, 0.3);

  transform: translate(-50%, -50%);
  transition: box-shadow 0.2s ease;
  pointer-events: none; // Evita que o thumb capture o clique (o container já faz isso)
}

:host(:focus-within) .thumb {
  box-shadow: 0 0 0 4px red;
}
