<section
  class="flex flex-col relative p-5 items-center h-screen overflow-auto overflow-x-hidden w-full bg-gradient-to-bl from-stone-50 to-white dark:from-zinc-950/50 dark:to-zinc-950/50"
>
  <div
    class="w-full mt-[10rem] bg-transparent backdrop-blur-xl md:rounded-t-2xl rounded-2xl flex flex-col items-center p-20 text-center md:relative md:bottom-auto md:left-auto md:translate-x-0 md:m-auto"
  >
    <header class="mb-8">
      <h2 class="text-3xl sm:text-3xl text-zinc-700 dark:text-gray-100">Selecione uma loja</h2>
      <p class="text-sm text-zinc-500 dark:text-zinc-400 mt-1">
        Escolha uma loja para continuar ou adicione uma nova.
      </p>
    </header>

    <div class="flex flex-wrap items-center gap-5 justify-center w-full max-w-[55rem] mx-auto">
      @for (bus of business; track $index) {
        <button
          type="button"
          (click)="select(bus)"
          class="flex flex-col text-center relative transition-all duration-200 ease-in-out hover:scale-110"
        >
          <div
            class="group saira-font w-[10rem] h-[10rem] aspect-square relative overflow-hidden flex flex-col items-center justify-center gap-1 rounded-full bg-stone-100 dark:bg-zinc-800 hover:ring-2 hover:ring-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white dark:focus:ring-offset-zinc-900"
          >
            @if (bus.logoUrl) {
              <img [src]="bus.logoUrl" alt="Avatar do cliente" class="object-cover" />
            } @else {
              <span
                class="font-medium text-2xl text-zinc-400 tracking-wider group-hover:text-gray-500 dark:group-hover:text-white transition-colors"
                >{{ bus.name[0] }}</span
              >
            }
          </div>
          <span class="text-gray-500 dark:text-gray-100">{{ bus.name }}</span>

          @if (bus?.hasPassword) {
            <i class="material-icons-outlined absolute left-1/2 -bottom-10 -translate-x-1/2 mt-5 text-gray-500 dark:text-gray-100"> lock </i>
          }
        </button>
      }

      <a
        [routerLink]="['/create-business']"
        class="group aspect-square flex w-[10rem] h-[10rem] items-center justify-center rounded-full bg-transparent border-2 border-zinc-700 text-zinc-600 transition-all duration-200 ease-in-out hover:scale-110 dark:hover:border-white hover:border-black hover:text-black dark:hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white dark:focus:ring-offset-zinc-900"
      >
        <i class="material-icons-outlined !text-[3rem]">add</i>
      </a>
    </div>
  </div>
</section>

@if (selectedBusiness) {
  <div class="fixed inset-0 z-40 bg-gray-100 dark:bg-zinc-900">
    <button
      type="button"
      (click)="this.selectedBusiness = undefined"
      class="absolute right-10 top-10 w-12 h-12 dark:hover:bg-zinc-700 bg-white dark:bg-zinc-800 grid place-items-center rounded-full"
    >
      <i class="material-icons-outlined dark:text-white text-gray-600">close</i>
    </button>
    <app-pin-entry
      [business]="selectedBusiness"
      (onVerify)="onPinVerify($event)"
      (onCancel)="onCancelPinEntry()"
    >
    </app-pin-entry>
  </div>
}
