:host {
  display: block;
  grid-row: 1;
  grid-column: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
  pointer-events: none;
}

.toast-body {
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease;
  font-family: sans-serif;
  font-weight: 500;
  cursor: default;

  pointer-events: auto;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
}
.toast-success {
  background-color: var(--color-indigo-500);
}

.toast-error {
  background-color: var(--color-zinc-800);
}

.toast-info {
  background-color: #17a2b8;
}

.toast-warning {
  background-color: #ffc107;
  color: #212529;
}
