<div class="px-6 flex flex-1 w-full">
  <div class="divide-y divide-gray-200 flex-1 dark:divide-zinc-800">
    @for (day of daysOfWeek; track day.value) {
    <div class="flex flex-col sm:flex-row gap-4 py-6 dark:border-zinc-700">
      <div class="flex-shrink-0 w-full sm:w-48 flex justify-between items-center">
        <h3 class="font-semibold text-gray-900 dark:text-gray-100">
          {{ day.name }}
        </h3>
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" checked class="sr-only peer" />
          <div
            class="w-11 h-6 bg-gray-200 dark:bg-zinc-700 rounded-full peer peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-indigo-300 dark:peer-focus:ring-indigo-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-indigo-600"
          ></div>
        </label>
      </div>

      <div class="flex-grow flex flex-wrap items-center gap-2">
        @for (slot of schedule[day.value]?.slots; track $index) {
        <div
          class="group relative flex items-center justify-between pl-3 pr-2 py-1.5 rounded-full bg-gray-100 dark:bg-zinc-900"
        >
          <span class="text-sm font-medium text-gray-700 dark:text-gray-200"
            >{{ slot.startTime }} - {{ slot.endTime }}</span
          >

          <div
            class="relative right-0 sm:right-auto ml-1 flex items-center opacity-100 sm:opacity-0 group-hover:opacity-100 transition-opacity"
          >
            <button
              type="button"
              (click)="deleteTimeSlot(slot)"
              class="min-w-8 h-8 rounded-full text-zinc-500 hover:bg-red-50 dark:hover:bg-red-900/20 transition-colors"
            >
              <span class="material-icons-outlined !text-lg">delete</span>
            </button>
          </div>
        </div>
        }

        <button
          type="button"
          *ngIf="addingSlotToDay !== day.value"
          (click)="addTimeSlot(day.value)"
          class="flex items-center justify-center w-9 h-9 border-2 border-dashed border-gray-300 dark:border-zinc-700 text-gray-400 dark:text-zinc-500 rounded-full hover:bg-gray-100 dark:hover:bg-zinc-800 hover:border-indigo-500 hover:text-indigo-500 transition-all"
          aria-label="Adicionar Horário"
        >
          <span class="material-icons-outlined">add</span>
        </button>

        <create-time-slot-form
          (save)="handleSaveNewSlot($event, day.value)"
          (cancel)="handleCancelNewSlot()"
          *ngIf="addingSlotToDay === day.value"
        ></create-time-slot-form>
      </div>
    </div>
    }
  </div>
</div>
