<form [formGroup]="paymentForm" (ngSubmit)="submitForm()" class="w-full text-left mt-4 space-y-4">
  <div>
    <label
      for="manual-amount"
      class="text-xs font-semibold uppercase text-gray-500 dark:text-zinc-500 tracking-wider"
    >
      Valor Recebido
    </label>
    <input
      type="text"
      appMoneyInput
      id="manual-amount"
      placeholder="R$ 0,00"
      formControlName="amount"
      class="w-full p-3 mt-2 rounded-lg bg-gray-100 dark:bg-zinc-800 border-none text-gray-700 dark:text-zinc-300 focus:ring-2 focus:ring-violet-500"
    />

    <!-- Bloco para exibir mensagens de erro de validação -->
    <div *ngIf="paymentForm.get('amount')?.invalid && (paymentForm.get('amount')?.dirty || paymentForm.get('amount')?.touched)" class="mt-2 text-xs text-rose-500 transition-all">
      <p *ngIf="paymentForm.get('amount')?.errors?.['required']">
        O valor é obrigatório.
      </p>
      <p *ngIf="paymentForm.get('amount')?.errors?.['min']">
        O valor deve ser maior que zero.
      </p>
       <p *ngIf="paymentForm.get('amount')?.errors?.['maxValueExceeded']">
        O valor não pode ser maior que o restante ({{ (maxValue ?? 0) / 100 | currency:'BRL' }}).
       </p>
    </div>
  </div>
  <div>
    <label class="text-xs font-semibold uppercase text-gray-500 dark:text-zinc-500 tracking-wider">
      Método de Pagamento
    </label>
    <div class="grid grid-cols-2 gap-2 mt-2">
      <!-- O clique agora chama a função para atualizar o formControl -->
      <button
        *ngFor="let method of paymentMethods"
        type="button"
        (click)="selectPaymentMethod(method.value)"
        [ngClass]="{
          'bg-violet-600 text-white': paymentForm.get('paymentMethod')?.value === method.value,
          'bg-gray-100 dark:bg-zinc-800 text-gray-700 dark:text-zinc-300 hover:bg-gray-200 dark:hover:bg-zinc-700':
            paymentForm.get('paymentMethod')?.value !== method.value
        }"
        class="w-full flex items-center gap-3 text-center p-3 rounded-lg text-sm font-semibold transition-colors duration-200"
      >
        <i class="material-icons-outlined text-base leading-none">{{ method.icon }}</i>
        <span>{{ method.label }}</span>
      </button>
    </div>
  </div>
  <!-- O botão de submissão agora fica desativado se o formulário for inválido -->
  <button
    type="submit"
    [disabled]="paymentForm.invalid"
    class="w-full bg-violet-600 hover:bg-violet-700 text-white font-bold py-3 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-opacity-50 transition-colors mt-6 disabled:bg-violet-400 dark:disabled:bg-zinc-600 disabled:cursor-not-allowed"
  >
    Confirmar Pagamento
  </button>
</form>
