<div class="flex flex-col p-3 gap-4">
  <header class="items-center w-full dark:text-gray-300 text-gray-500">
    <h1 class="text-3xl saira-font font-light">
      Olá, <b class="font-semibold">José Victor</b>
    </h1>
    <span class="text-gray-300 dark:text-zinc-400"
      >Bem vindo de volta a sua loja...</span
    >
  </header>

  <div
    class="h-[10rem] p-3 rounded-xl flex flex-col bg-gradient-to-bl from-indigo-500 to-violet-500 dark:shadow-xl dark:shadow-black"
  >
    <section class="flex items-center justify-between gap-5">
      <div class="flex gap-2 items-center">
        <div
          class="w-12 h-12 bg-zinc-900 rounded-full shadow-xl grid place-items-center"
        ></div>

        <div class="flex flex-col">
          <h1
            class="saira-font text-gray-100 leading-none text-lg font-semibold"
          >
            Nome da loja
          </h1>
          <b class="text-white font-light">José Victor</b>
        </div>
      </div>

      <div class="flex px-2">
        <h1 class="text-3xl font-semibold text-indigo-50 saira-font">
          R$ 0,00
        </h1>
      </div>
    </section>

    <section class="flex items-end px-2 flex-1">
      <div class="flex justify-between flex-1 items-center">
        <div class="flex text-indigo-50 flex-col leading-none gap-1 text-sm">
          <span class="saira-font text-xl font-semibold"> 12 </span>
          <span> Cancelados </span>
        </div>

        <div class="flex text-indigo-50 flex-col leading-none gap-1 text-sm">
          <span class="saira-font text-xl font-semibold"> 14 </span>
          <span> Não apareceu </span>
        </div>

        <div class="flex text-indigo-50 flex-col leading-none gap-1 text-sm">
          <span class="saira-font text-xl font-semibold"> 38 </span>
          <span> Completos </span>
        </div>
      </div>
    </section>
  </div>
</div>
