<form (ngSubmit)="update()" [formGroup]="form" class="flex flex-col px-6">
  <h2 class="text-3xl font-bold mb-2 dark:text-zinc-100 text-gray-500">Seu Negócio</h2>
  <p class="text-gray-500 dark:text-zinc-400">Defina os horários que seu negócio estará aberto</p>

  <div
    class="rounded-xl border border-zinc-200/80 bg-white dark:border-zinc-800 dark:bg-zinc-900/50 mt-8"
  >
    <div class="border-b border-zinc-200/80 p-6 dark:border-zinc-800">
      <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-100">
        Conta de Recebimento (Mercado Pago)
      </h3>
      <p class="mt-1 text-sm text-gray-500 dark:text-zinc-400">
        Selecione a conta que receberá os pagamentos. Se nenhuma for selecionada, o valor será
        creditado na conta do membro responsável pela venda.
      </p>
    </div>
    <fieldset class="divide-y divide-zinc-200/80 dark:divide-zinc-800">
      <label
        class="flex cursor-pointer items-center justify-between p-4 transition-colors hover:bg-zinc-50 dark:hover:bg-zinc-800/50"
      >
        <div class="flex items-center gap-4">
          <div
            class="flex h-10 w-10 items-center justify-center rounded-full bg-zinc-100 dark:bg-zinc-700"
          >
            <i class="material-symbols-outlined text-zinc-500">sync_alt</i>
          </div>
          <div>
            <p class="font-semibold text-zinc-800 dark:text-white">Padrão (Dividir por membro)</p>
            <p class="text-sm text-zinc-500 dark:text-zinc-400">
              Pagar ao membro responsável pela venda.
            </p>
          </div>
        </div>

        <div class="relative">
          <input
            type="radio"
            [value]="null"
            formControlName="paymentAccountId"
            name="paymentAccountId"
            class="peer sr-only"
          />
          <div
            class="h-5 w-5 rounded-full border-2 border-zinc-300 bg-white transition-all peer-checked:border-indigo-600 peer-checked:bg-indigo-600 peer-focus:ring-2 peer-focus:ring-indigo-500 peer-focus:ring-offset-2 dark:border-zinc-600 dark:bg-zinc-800 dark:peer-focus:ring-indigo-600 dark:peer-focus:ring-offset-zinc-900"
          ></div>
          <div
            class="absolute left-1/2 top-1/2 h-1.5 w-1.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white transition-transform duration-150 ease-in-out scale-0 peer-checked:scale-100"
          ></div>
        </div>
      </label>

      @if (this.owner) {
        <label
          class="flex cursor-pointer items-center justify-between p-4 transition-colors hover:bg-zinc-50 dark:hover:bg-zinc-800/50"
        >
          <div class="flex items-center gap-4">
            <div class="relative h-10 w-10 flex-shrink-0">
              @if (owner.photoUrl) {
                <img
                  [src]="owner.photoUrl"
                  alt="Avatar de {{ owner.username }}"
                  class="h-full w-full rounded-full object-cover"
                />
              } @else {
                <div
                  class="flex h-full w-full items-center justify-center rounded-full bg-zinc-100 dark:bg-zinc-700"
                >
                  <span class="font-medium text-zinc-600 dark:text-zinc-300">{{
                    owner.username | slice: 0 : 1
                  }}</span>
                </div>
              }
            </div>
            <div>
              <p class="font-semibold text-zinc-800 dark:text-white">{{ owner.username }}</p>
              <p class="text-sm text-zinc-500 dark:text-zinc-400">{{ owner.email }}</p>
            </div>
          </div>

          <div class="relative">
            <input
              type="radio"
              formControlName="paymentAccountId"
              [value]="owner!.id"
              name="paymentAccountId"
              class="peer sr-only"
            />
            <div
              class="h-5 w-5 rounded-full border-2 border-zinc-300 bg-white transition-all peer-checked:border-indigo-600 peer-checked:bg-indigo-600 peer-focus:ring-2 peer-focus:ring-indigo-500 peer-focus:ring-offset-2 dark:border-zinc-600 dark:bg-zinc-800 dark:peer-focus:ring-indigo-600 dark:peer-focus:ring-offset-zinc-900"
            ></div>
            <div
              class="absolute left-1/2 top-1/2 h-1.5 w-1.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white transition-transform duration-150 ease-in-out scale-0 peer-checked:scale-100"
            ></div>
          </div>
        </label>
      }

      @for (member of members; track member.user.id) {
        <label
          class="flex cursor-pointer items-center justify-between p-4 transition-colors hover:bg-zinc-50 dark:hover:bg-zinc-800/50"
        >
          <div class="flex items-center gap-4">
            <div class="relative h-10 w-10 flex-shrink-0">
              @if (member.user.photoUrl) {
                <img
                  [src]="member.user.photoUrl"
                  alt="Avatar de {{ member.user.username }}"
                  class="h-full w-full rounded-full object-cover"
                />
              } @else {
                <div
                  class="flex h-full w-full items-center justify-center rounded-full bg-zinc-100 dark:bg-zinc-700"
                >
                  <span class="font-medium text-zinc-600 dark:text-zinc-300">{{
                    member.user.username | slice: 0 : 1
                  }}</span>
                </div>
              }
            </div>
            <div>
              <p class="font-semibold text-zinc-800 dark:text-white">{{ member.user.username }}</p>
              <p class="text-sm text-zinc-500 dark:text-zinc-400">{{ member.user.email }}</p>
            </div>
          </div>

          <div class="relative">
            <input
              type="radio"
              formControlName="paymentAccountId"
              [value]="member.user.id"
              name="paymentAccountId"
              class="peer sr-only"
            />
            <div
              class="h-5 w-5 rounded-full border-2 border-zinc-300 bg-white transition-all peer-checked:border-indigo-600 peer-checked:bg-indigo-600 peer-focus:ring-2 peer-focus:ring-indigo-500 peer-focus:ring-offset-2 dark:border-zinc-600 dark:bg-zinc-800 dark:peer-focus:ring-indigo-600 dark:peer-focus:ring-offset-zinc-900"
            ></div>
            <div
              class="absolute left-1/2 top-1/2 h-1.5 w-1.5 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white transition-transform duration-150 ease-in-out scale-0 peer-checked:scale-100"
            ></div>
          </div>
        </label>
      }
    </fieldset>
  </div>

  <div
    class="border rounded-xl bg-white dark:bg-zinc-900/50 dark:border-zinc-800 border-zinc-200/80 mt-8"
  >
    <div class="p-6">
      <h3 class="text-lg font-semibold saira-font text-gray-500 dark:text-gray-100">
        Metas e Nome da Loja
      </h3>
      <p class="text-sm text-gray-500 dark:text-zinc-400">
        Defina um nome para sua loja e sua meta de faturamento mensal.
      </p>
    </div>

    <div
      class="p-6 border-t dark:border-zinc-800 text-gray-500 dark:text-gray-100 border-zinc-200/80 flex flex-col gap-6"
    >
      <div class="flex flex-col gap-2">
        <label for="storeName" class="text-sm font-medium text-gray-700 dark:text-zinc-300">
          Nome da Loja
        </label>
        <input
          type="text"
          formControlName="name"
          placeholder="Ex: Minha Loja Incrível"
          class="w-full px-3 py-2 border border-zinc-300 dark:border-zinc-700 rounded-lg bg-transparent focus:ring-2 focus:ring-blue-500 focus:outline-none transition-shadow duration-200"
        />
      </div>

      <div class="flex flex-col gap-3">
        <div class="flex justify-between items-center">
          <label for="revenueGoal" class="text-sm font-medium text-gray-700 dark:text-zinc-300"
            >Meta de Faturamento Mensal</label
          >
          <span id="revenueValue" class="text-sm font-semibold text-gray-600 dark:text-blue-400">
            {{ this.business?.revenueGoal | toFormatBrl }}
          </span>
        </div>

        <div class="flex items-center gap-4" *ngIf="this.business">
          <custom-slider
            class="flex-grow"
            [min]="minRevenue"
            [max]="maxRevenue"
            [step]="stepRevenue"
            [value]="form.get('revenueGoal')?.value"
            (valueChange)="form.get('revenueGoal')?.setValue($event)"
          ></custom-slider>

          <div class="relative w-full max-w-[10rem]">
            <input
              type="text"
              id="revenueGoalInput"
              name="revenueGoalInput"
              class="w-full pl-2 pr-2 py-2 border text-gray-500 dark:text-gray-100 border-zinc-300 dark:border-zinc-700 rounded-lg bg-transparent focus:ring-2 focus:ring-blue-500 focus:outline-none transition-shadow duration-200"
              appMoneyInput
              [showCurrencySymbol]="true"
              formControlName="revenueGoal"
              [min]="minRevenue"
              [max]="maxRevenue"
              [step]="stepRevenue"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="border rounded-xl mt-6 bg-white dark:bg-zinc-900/50 dark:border-zinc-800 border-zinc-200/80"
  >
    <div class="p-6">
      <h3 class="text-lg font-semibold saira-font text-gray-500 dark:text-gray-100">
        Banner da Loja
      </h3>
      <p class="text-sm text-gray-500 dark:text-zinc-400">
        Imagem de capa que aparecerá no topo da sua página. Recomendamos 1500x500px.
      </p>
    </div>

    <div class="p-6 border-t dark:border-zinc-800 border-zinc-200/80 flex flex-col gap-6">
      <div
        class="w-full aspect-[3/1] relative rounded-lg bg-zinc-100 dark:bg-zinc-800/50 flex items-center justify-center overflow-hidden"
      >
        <img
          *ngIf="reviewBannerUrl"
          [src]="reviewBannerUrl"
          alt="Banner da loja"
          class="absolute h-full w-full rounded-2xl object-cover z-10 group-hover:opacity-40 dark:group-hover:opacity-30 transition-opacity"
        />
      </div>
      <div class="flex items-center gap-3 self-start">
        <label
          for="banner"
          class="px-4 py-2 overflow-hidden text-sm font-semibold bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors duration-200"
        >
          Alterar
          <input
            type="file"
            (change)="onBannerSelectedChange($event)"
            id="banner"
            name="banner"
            class="hidden"
          />
        </label>
        <button
          type="button"
          class="px-4 py-2 text-sm font-semibold text-gray-600 dark:text-zinc-300 hover:bg-zinc-100 dark:hover:bg-zinc-800 rounded-lg transition-colors duration-200"
        >
          Remover
        </button>
      </div>
    </div>
  </div>

  <div
    class="border rounded-xl mt-6 bg-white dark:bg-zinc-900/50 dark:border-zinc-800 border-zinc-200/80"
  >
    <div class="p-6">
      <h3 class="text-lg font-semibold saira-font text-gray-500 dark:text-gray-100">
        Logo da loja
      </h3>
      <p class="text-sm text-gray-500 dark:text-zinc-400">
        COloque a logo que aparecerá no topo da sua página. Recomendamos 1 por 1.
      </p>
    </div>

    <div class="p-6 border-t dark:border-zinc-800 border-zinc-200/80 flex items-center gap-6">
      <div
        class="w-full aspect-square max-w-[6rem] relative rounded-full bg-zinc-100 dark:bg-zinc-800/50 flex items-center justify-center overflow-hidden"
      >
        <img
          *ngIf="reviewLogoUrl"
          [src]="reviewLogoUrl"
          alt="Banner da loja"
          class="absolute h-full w-full rounded-2xl object-cover z-10 group-hover:opacity-40 dark:group-hover:opacity-30 transition-opacity"
        />
      </div>
      <div class="flex items-center gap-3">
        <label
          for="logo"
          class="px-4 py-2 overflow-hidden text-sm font-semibold bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors duration-200"
        >
          Alterar
          <input
            type="file"
            (change)="onLogoSelectedChange($event)"
            id="logo"
            name="logo"
            class="hidden"
          />
        </label>
        <button
          type="button"
          class="px-4 py-2 text-sm font-semibold text-gray-600 dark:text-zinc-300 hover:bg-zinc-100 dark:hover:bg-zinc-800 rounded-lg transition-colors duration-200"
        >
          Remover
        </button>
      </div>
    </div>
  </div>

  <footer class="mt-3">
    <button
      [attr.data-loading]="isLoading"
      class="px-4 py-2.5 saira-font flex bg-indigo-50 gap-4 dark:bg-indigo-500 dark:text-indigo-50 rounded-full text-indigo-950/70 hover:bg-indigo-100 dark:hover:bg-blue-700 transition-colors duration-200 data-[loading=true]:opacity-70"
    >
      <i *ngIf="isLoading" class="material-symbols-outlined animate-spin">app_badging</i>
      Salvar Alterações
    </button>
  </footer>
</form>
