<div class="flex lg:hidden scroll-hidden p-3 bg-zinc-900/60 mb-3 overflow-x-auto">
  <a
    routerLink="/home"
    class="min-w-10 h-10 bg-zinc-100 dark:bg-zinc-900 rounded-full grid place-items-center"
  >
    <i class="material-icons-outlined">arrow_back_ios_new</i>
  </a>
  <span class="flex ml-2 bg-zinc-200 dark:bg-zinc-800 w-px"></span>
  <div class="flex gap-2 px-2 scroll-hidden overflow-auto">
    @for (item of navItems; track item.path) {
    <a
      [routerLink]="item.path"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="bg-violet-100 text-violet-700 dark:bg-zinc-800 dark:text-zinc-50"
      class="flex items-center gap-3 p-2 rounded-md transition-colors hover:bg-gray-100 dark:hover:bg-zinc-800"
    >
      <i class="text-xl material-icons-outlined">{{ item.icon }}</i>
      <span class="font-medium">{{ item.label }}</span>
    </a>
    }
  </div>
</div>
