<div class="flex px-4 flex-col-reverse p-4 lg:flex-row gap-8 w-full max-w-6xl mx-auto">
  <div class="flex flex-col gap-6 flex-1">
    <div
      class="rounded-xl border border-zinc-200 bg-white p-6 dark:border-zinc-800 dark:bg-zinc-900"
    >
      <header class="mb-6 border-b border-zinc-200 pb-6 dark:border-zinc-800">
        <h1 class="text-3xl font-bold text-stone-700 dark:text-zinc-100">
          Olá, {{ client?.fullName?.split(' ')?.[0] }}!
        </h1>
        <p class="mt-2 text-zinc-600 dark:text-zinc-400">
          Você está agendando com a sua conta. Confirme os dados abaixo e finalize seu agendamento.
        </p>
      </header>

      <div class="space-y-4">
        <p class="text-sm font-semibold uppercase tracking-wider text-zinc-500 dark:text-zinc-400">
          Agendando como
        </p>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-4">
            <img
              *ngIf="client?.avatarUrl"
              [src]="client?.avatarUrl"
              [alt]="client?.fullName"
              class="h-14 w-14 rounded-full object-cover"
            />
            <div>
              <p class="font-semibold text-zinc-600 dark:text-zinc-100">{{ client?.fullName }}</p>
              <p class="text-sm text-zinc-500 dark:text-zinc-400">{{ client?.email }}</p>
            </div>
          </div>
          <a
            href="#"
            class="text-sm font-medium text-indigo-600 hover:underline dark:text-indigo-400"
          >
            Não sou eu? Sair
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1" *ngIf="!isSessionLoading && !isLogged">
    <form [formGroup]="bookingForm" class="flex flex-col gap-6">
      <div
        class="bg-white dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-800 rounded-xl p-6"
      >
        <header class="mb-8 text-left lg:text-left">
          <h1 class="text-3xl font-bold text-zinc-600 dark:text-zinc-100">Confirme seus dados</h1>
          <p class="mt-2 text-zinc-600 dark:text-zinc-400">
            Preencha suas informações para finalizar o agendamento.
          </p>
        </header>

        <div class="flex flex-col gap-1">
          <div class="relative flex">
            <input
              id="fullname"
              type="text"
              formControlName="fullname"
              class="peer block w-full rounded-lg border-2 border-zinc-300 bg-zinc-50 px-4 py-3 text-zinc-900 focus:border-violet-600 focus:outline-none dark:bg-zinc-900 dark:border-zinc-800 dark:text-zinc-100 dark:focus:border-violet-500"
              placeholder=" "
              aria-required="true"
              [attr.aria-invalid]="
                bookingForm.get('fullname')?.invalid && bookingForm.get('fullname')?.touched
              "
            />
            <label
              for="fullname"
              class="absolute left-4 flex h-1 peer-focus:-translate-y-px items-center top-0 origin-[0] scale-75 transform text-zinc-500 duration-200 peer-placeholder-shown:translate-y-6 peer-placeholder-shown:scale-100 -translate-y-px peer-focus:scale-75 peer-focus:text-violet-600 bg-zinc-50 px-1 dark:text-zinc-400 dark:peer-focus:text-violet-400 dark:bg-zinc-900"
            >
              Nome Completo
            </label>
          </div>
          @if (getErrorMessage('fullname')) {
            <p class="mt-1 text-sm text-red-600">{{ getErrorMessage('fullname') }}</p>
          }

          <div class="relative flex mt-4">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
              <i class="material-icons-outlined text-zinc-400 dark:text-zinc-500">phone</i>
            </div>
            <input
              id="phoneNumber"
              type="tel"
              formControlName="phoneNumber"
              class="peer block w-full rounded-lg border-2 border-zinc-300 bg-zinc-50 py-3 pl-12 pr-4 text-zinc-900 focus:border-violet-600 focus:outline-none dark:bg-zinc-900 dark:border-zinc-800 dark:text-zinc-100 dark:focus:border-violet-500"
              placeholder=" "
              aria-required="true"
              [attr.aria-invalid]="
                bookingForm.get('phoneNumber')?.invalid && bookingForm.get('phoneNumber')?.touched
              "
            />
            <label
              for="phoneNumber"
              class="absolute left-12 flex h-1 items-center top-0 origin-[0] scale-75 transform text-zinc-500 duration-200 peer-placeholder-shown:translate-y-6 -translate-y-px peer-placeholder-shown:scale-100 peer-focus:-translate-y-px peer-focus:scale-75 peer-focus:text-violet-600 bg-zinc-50 px-1 dark:text-zinc-400 dark:peer-focus:text-violet-400 dark:bg-zinc-900"
            >
              Telefone (apenas números)
            </label>
          </div>

          @if (getErrorMessage('phoneNumber')) {
            <p class="mt-1 text-sm text-red-600">{{ getErrorMessage('phoneNumber') }}</p>
          }

          <div class="relative mt-4">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-4">
              <i class="material-icons-outlined text-zinc-400 dark:text-zinc-500">email</i>
            </div>
            <input
              id="email"
              type="email"
              formControlName="email"
              class="peer block w-full rounded-lg border-2 border-zinc-300 bg-zinc-50 py-3 pl-12 pr-4 text-zinc-900 focus:border-violet-600 focus:outline-none dark:bg-zinc-900 dark:border-zinc-800 dark:text-zinc-100 dark:focus:border-violet-500"
              placeholder=" "
              aria-required="true"
              [attr.aria-invalid]="
                bookingForm.get('email')?.invalid && bookingForm.get('email')?.touched
              "
            />
            <label
              for="email"
              class="absolute left-12 peer-focus:-translate-y-px flex h-1 items-center top-0 origin-[0] scale-75 transform text-zinc-500 duration-200 peer-placeholder-shown:translate-y-6 peer-placeholder-shown:scale-100 -translate-y-px peer-focus:scale-75 peer-focus:text-violet-600 bg-zinc-50 px-1 dark:text-zinc-400 dark:peer-focus:text-violet-400 dark:bg-zinc-900"
            >
              Email
            </label>
          </div>
          @if (getErrorMessage('email')) {
            <p class="mt-1 text-sm text-red-600">{{ getErrorMessage('email') }}</p>
          }
        </div>
      </div>
    </form>

    <create-account-client></create-account-client>
  </div>
</div>
