<section
  class="flex flex-col sm:my-8 sm:rounded-xl border border-zinc-100 bg-stone-50 dark:border-zinc-800 dark:bg-zinc-900"
>
  <header
    class="flex items-start justify-between border-b border-zinc-200/80 p-6 dark:border-zinc-800"
  >
    <div class="flex items-center gap-4">
      <div
        class="flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-100 dark:bg-indigo-500/10"
      >
        <i class="material-symbols-outlined text-indigo-600 dark:text-indigo-400"
          >manage_accounts</i
        >
      </div>
      <div>
        <h2 class="text-lg font-semibold text-zinc-800 dark:text-zinc-100">
          @if (isEditMode()) {
            Editar Cargo
          } @else {
            Criar Novo Cargo
          }
        </h2>
        <p class="text-sm text-zinc-500 dark:text-zinc-400">
          Defina um nome e as permissões associadas a este cargo.
        </p>
      </div>
    </div>
    <button
      (click)="closeDialog()"
      class="rounded-full p-2 text-zinc-500 transition-colors hover:bg-zinc-100 dark:text-zinc-400 grid place-items-center w-12 h-12 dark:hover:bg-zinc-700"
    >
      <i class="material-symbols-outlined">close</i>
    </button>
  </header>

  <main class="flex-1 overflow-y-auto p-6">
    @if (isLoading()) {
      <div class="flex items-center justify-center py-10">
        <i class="material-symbols-outlined animate-spin text-4xl text-indigo-500"
          >progress_activity</i
        >
      </div>
    } @else {
      <form [formGroup]="form" (ngSubmit)="onFormSubmit()" id="roleForm" class="space-y-8">
        <div>
          <label for="roleName" class="block text-sm font-medium text-gray-700 dark:text-zinc-300">
            Nome do Cargo
          </label>
          <div class="relative mt-2">
            <i
              class="material-symbols-outlined pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-zinc-400"
              >badge</i
            >
            <input
              id="roleName"
              type="text"
              formControlName="name"
              placeholder="Ex: Gerente ou Barbeiro"
              class="w-full rounded-lg border border-zinc-300 bg-transparent py-2.5 pl-10 pr-4 text-zinc-800 transition-shadow duration-200 focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:border-zinc-700 dark:text-zinc-100"
              [class.border-red-500]="
                form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)
              "
            />
          </div>
          @if (
            form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)
          ) {
            <p class="mt-1 text-xs text-red-500">
              O nome é obrigatório e deve ter no mínimo 3 caracteres.
            </p>
          }
        </div>

        <div>
          <h3 class="text-base font-medium text-gray-700 dark:text-zinc-300">Permissões</h3>
          <ul
            formArrayName="permissions"
            class="divide-y divide-zinc-200/80 rounded-lg dark:divide-zinc-800"
          >
            @for (
              group of permissionGroups();
              track trackByGroup($index, group);
              let groupIndex = $index
            ) {
              <div class="mb-3">
                <!-- Nome do Grupo -->
                <strong class="block text-md font-medium text-gray-900 dark:text-zinc-100 mb-2">{{
                  group.groupName
                }}</strong>

                <ul
                  class="divide-y divide-zinc-200/80 rounded-lg border border-zinc-200/80 dark:divide-zinc-800 dark:border-zinc-800"
                >
                  @for (
                    permission of group.permissions;
                    track trackByPermission($index, permission);
                    let permIndex = $index
                  ) {
                    <li class="flex items-center justify-between p-4 bg-white dark:bg-zinc-800/50">
                      <label [for]="permission.key" class="cursor-pointer pr-4">
                        <span class="font-medium text-sm text-zinc-800 dark:text-zinc-200">{{
                          permission.name
                        }}</span>
                        <p class="text-xs text-zinc-500 dark:text-zinc-400">
                          {{ permission.description }}
                        </p>
                      </label>

                      <label
                        [for]="permission.key"
                        class="relative inline-flex flex-shrink-0 cursor-pointer items-center"
                      >
                        <!-- O [formControlName] usa a função para calcular o índice plano correto -->
                        <input
                          [id]="permission.key"
                          type="checkbox"
                          [formControlName]="getFormControlIndex(groupIndex, permIndex)"
                          class="peer sr-only"
                        />
                        <div
                          class="peer h-6 w-11 rounded-full bg-gray-200 after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:bg-white after:transition-all peer-checked:bg-indigo-600 peer-checked:after:translate-x-full peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-indigo-300 dark:bg-zinc-700 dark:peer-focus:ring-indigo-800"
                        ></div>
                      </label>
                    </li>
                  }
                </ul>
              </div>
            }
          </ul>
        </div>
      </form>
    }
  </main>

  <footer
    class="flex justify-end gap-3 border-t border-zinc-200/80 bg-zinc-50 p-4 dark:border-zinc-800 dark:bg-zinc-900/50"
  >
    <button
      (click)="closeDialog()"
      type="button"
      class="rounded-lg bg-transparent px-4 py-2 text-sm font-semibold text-zinc-700 transition-colors hover:bg-zinc-100 dark:text-zinc-200 dark:hover:bg-zinc-800"
    >
      Cancelar
    </button>
    <button
      type="submit"
      form="roleForm"
      [disabled]="form.invalid || isLoading()"
      class="flex min-w-[120px] items-center justify-center rounded-lg bg-indigo-600 px-4 py-2 text-sm font-semibold text-white transition-colors hover:bg-indigo-500 disabled:cursor-not-allowed disabled:bg-indigo-400 dark:disabled:bg-indigo-800"
    >
      @if (isLoading()) {
        <i class="material-symbols-outlined animate-spin !text-base">progress_activity</i>
        <span>Salvando...</span>
      } @else if (isEditMode()) {
        <span>Salvar Alterações</span>
      } @else {
        <span>Criar Cargo</span>
      }
    </button>
  </footer>
</section>
