@use "tailwindcss";

.saira-font {
  font-family: "Saira", sans-serif;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.dialog-no-container .mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: transparent !important; // Remove o fundo branco
  box-shadow: none !important; // Remove a sombra
  padding: 0 !important; // Opcional: remove o preenchimento interno
  border-radius: 0 !important; // Opcional: remove as bordas arredondadas
}


.checkmark {
  --success-color: #34d399;
  --circle-bg: white;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 3;
  stroke: var(--success-color);
  stroke-miterlimit: 10;
  margin: 0 auto;
  box-shadow: inset 0px 0px 0px var(--success-color);
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.dark .checkmark {
  --circle-bg: var(--color-zinc-900); /* Fundo do círculo no MODO ESCURO (zinc-800) */
}


html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
