<section
  class="min-h-screen flex flex-col items-center justify-center bg-gray-50 dark:bg-zinc-900 text-gray-700 dark:text-gray-300"
>
  <!-- <div class="absolute top-0 left-0 w-full h-[45vh] bg-gray-100 dark:bg-zinc-800/30"></div> -->

  <div class="grid place-items-center p-1 shadow-xl shadow-indigo-500/30 my-4 bg-indigo-500 z-20 rounded-xl">
    <app-logo width="50" height="50" class="text-indigo-50"></app-logo>
  </div>

  <div class="w-full max-w-md p-6 relative">
    <div class="text-center mb-8">
      <h1 class="text-3xl saira-font font-semibold text-zinc-700 dark:text-white">
        Acesse sua conta
      </h1>
      <p class="text-sm mt-2">Bem-vindo de volta! Por favor, insira seus dados.</p>
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="bg-white dark:bg-zinc-800/80 backdrop-blur-xl shadow dark:shadow-2xl rounded-lg p-8 space-y-6"
    >
      <div>
        <label for="email" class="block text-sm font-medium mb-2"> E-mail </label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="voce@exemplo.com"
          class="block w-full px-4 py-3 bg-gray-50 dark:bg-zinc-700 border border-gray-300 dark:border-zinc-600 rounded-md focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out"
        />
      </div>

      <div>
        <label for="password" class="block text-sm font-medium mb-2"> Senha </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="••••••••"
          formControlName="password"
          class="block w-full px-4 py-3 bg-gray-50 dark:bg-zinc-700 border border-gray-300 dark:border-zinc-600 rounded-md focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out"
        />
      </div>

      <button
        type="submit"
        class="w-full bg-indigo-600 text-white font-semibold py-3 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-offset-zinc-800 transition duration-150 ease-in-out"
      >
        Entrar
      </button>

      <div class="text-center text-sm pt-4">
        <p>
          Não tem uma conta?
          <a
            [routerLink]="['/register']"
            class="font-semibold text-indigo-600 hover:text-indigo-500"
          >
            Cadastre-se aqui
          </a>
        </p>
      </div>
    </form>
  </div>

  <footer class="w-full text-center p-6 text-sm text-gray-500 dark:text-gray-400">
    <p>&copy; 2025 ClickCut. Todos os direitos reservados.</p>
  </footer>
</section>
